{% extends "layout.html" %}

{% block content %}

<div class="text-content">
    <h1>Welcome to Essence Ladies Escort Agency</h1>

    <p>Welcome to Essence ladies where we provide a bespoke service. If you are a refined gentleman or lady searching 
       for a premium escort service that doesn't break the bank; then our agency is the one you are looking for.</p>

    <p>Essence Ladies Escort Agency has remained a leading name in the UK and has maintained a recruitment agency that 
       features the most naturally stunning, sophisticated, and adventurous escorts. Our companionship-only escorts 
       are competitively priced, starting from just £120 and must be over 21 years of age with proof of the Right to Work 
       in the UK.</p>

    <p>Our escorts are discreet, professional, attentive, and poised. We understand that every client has specific 
       companionship requirements, and we are dedicated to delivering a top-tier VIP dating experience that exudes 
       class and sophistication.</p>

    <p>They are reliable, personable, impeccably dressed, and punctual. We prioritize the safety of our escorts, ensuring 
       they are chauffeured by professional drivers to and from appointments. All bookings are confirmed at least an 
       hour before your scheduled date, with our friendly and helpful receptionist available to address any enquiries 
       you may have.</p>

</div>

{% endblock %}
