{% extends "layout.html" %}

{% block content %}
<div class="text-content">
    <h1>Prices</h1>
    <p>
        Luxe Ladies Escort Agency is proud to be one of the most competitively priced agencies in London. We are
        committed to offering elegant and luxurious outcall services at affordable rates. Our sophisticated selection of
        GFE escorts caters to a wide range of client needs, ensuring a high-quality experience without breaking the
        bank. Luxe Ladies offers some of the best rates among London escort agencies.
    </p>
    <p>
        Please note that the prices listed in this section do not include any additional fees that may apply.
    </p>
    <p>
        Depending on your location, our 1-hour service fee ranges from £120 to £150.
    </p>
    <p>
        Discounts are available for extended bookings, but these must be confirmed at the time of booking. If you are a
        member, you can enjoy additional discount opportunities. If you're interested in becoming a client member,
        contact us today to take advantage of these exclusive offers.
    </p>
    <p>
        Luxe Ladies Escort Agency has a straightforward payment policy: all payments must be made in CASH ONLY to the
        escort(s) before the start of each appointment.
    </p>
    <p>
        Our affordable London escort prices are highly competitive, yet the quality of our service ranks among the top
        in London and across the UK.
    </p>
    <p>
        <em>*Note - We are launching a credit card payment system soon to provide more payment options for our
            clients.</em>
    </p>
</div>
{% endblock %}